<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overtime Management API v1</title>
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
</head>
<body>
    <rapi-doc 
        spec-url="{% url 'swagger-schema' %}" 
        render-style="read"
        theme="dark"
        allow-search="true"
        show-header="false"
        show-info="true"
    >
    <div slot="nav-logo" style="display: flex; align-items: center; justify-content: center; flex-direction: column;"> 
        <img 
            src = "https://media.licdn.com/dms/image/v2/D560BAQHJDTur43yGmg/company-logo_200_200/company-logo_200_200/0/1707123906642/pegatron_logo?e=2147483647&v=beta&t=o02wcI4dc5xlhG07SbkJ4aNY-TdwrWrQqgcbD0329i8"
            style="width:150px;"
        />
        <strong style="color:#fff; margin-top: 10px; margin-bottom: 20px;">Pegaunihan Technology Batam</strong>
    </div>
    </rapi-doc>
</body>
</html>
